.custom-form-field {
    width: 100%; 
}


#dialog-header {
    display:flex;
    justify-content: right;
    padding: 2%;
}

.close-button {
    color: rgba(0, 0, 0, 0.54);
    border: 0px;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: transparent;
}

.close-button:hover {
    background-color: #dde3ea;
}

.disclaimer {
    margin-bottom: 20px;
}

#import-button, .upload-btn {
    background-color: #1e2b37;
    color: #f7f7f8;
    border: none;
    border-radius: var(--border-radius);
    padding: 8px 24px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: var(--shadow);
    text-transform: none; 
}

#import-button:hover,  .upload-btn:hover {
    background-color: #f7f7f8;
    color: #1e2b37;
    border: 1px solid #1e2b37;
}

#import-button:active {
    transform: translateY(1px);
}

.file-input {
    display: none;
}

.file-upload {
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    align-items: center;
    gap: 10px;
}
