<div class="eventDialog">
    <div id="dialog-header">
      <button mat-icon-button class="close-button" (click)="onCancel()" aria-label="Chiudi">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <mat-dialog-content>
        <div class="disclaimer">
            <p>
                Per importare un calendario da Google Calendar questo deve essere pubblico. 
                L'id del calendario lo puoi trovare in: <br>
                "I miei calendari > Opzioni > Impostazioni e Condivisione > Integra calendario"
            </p>
        </div>
        <div>
            <mat-form-field class="custom-form-field" appearance="outline">
                <mat-label>Id calendario</mat-label>
                <input matInput [(ngModel)]="data.calendarId"  required [disabled]="fileName != undefined">
            </mat-form-field>
        </div>
        <div class="disclaimer">
            <p>
                Oppure puoi importare un calendario facendo l'upload di un file nel formato .ics
            </p>
        </div>
        <div>
            <input type="file" class="file-input" name="calendar" accept="ics" (change)="onFileSelected($event)" #fileUpload required [disabled]="data.calendarId">

            <div class="file-upload">

                 {{fileName || "Nessun file selezionato."}}
                <button  class="upload-btn" (click)="fileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions >
        <button mat-button id='import-button' (click)="onImport()">Importa</button>
    </mat-dialog-actions>
</div>
