
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  overflow-y: auto;
  max-width: 100vw;
  height: 100vh;
}

:root {
  --primary-color: #1a73e8;
  --primary-hover: #1557b0;
  --error-color: #bc0e0e;
  --text-color: #202124;
  --text-secondary: #5f6368;
  --border-color: #dadce0;
  --bg-color: #ffffff;
  --shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  --border-radius: 8px;
}
a{
  text-decoration: none;
}
gridster-item:hover {
  transform: scale(1.05);
  cursor: move;
}

/* Scrollbar personalizzata */
gridster-item ::-webkit-scrollbar {
    width: 8px;
}
gridster-item ::-webkit-scrollbar-track {
    background: transparent;
}
gridster-item ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
}
gridster-item ::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa;
}

/* styles.css */
#landscape-warning {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  text-align: center;
}
