<app-loading [condition]="isLoading"></app-loading>
<main>
    <div class="header">
        <a [routerLink]='["/home"]'><h3 class="title">SELFIE</h3></a>
        <div class="feature">
          <button class="btn" *ngFor="let item of dashboard"
                  [routerLink]="[item.relativeUrl]"
                  routerLinkActive="active"
                  [ngClass]="{'time-machine': item.isTimeMachine}">
            <img src="../../../assets/icon/{{item.urlImg}}">
            <p class="btn-label">{{ item.name }}</p>
          </button>
        </div>          
        <app-logout />
    </div>      
    <div class="contenuto">
      <!-- Contenuto del dashboard principale solo quando siamo esattamente sulla route /home -->
      <app-grid *ngIf="isHomeRoute" [dashboard]="dashboard"></app-grid>
      
      <!-- Router outlet per caricare i componenti interni -->
      <router-outlet></router-outlet>
    </div>
</main>