* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: lightblue;
    height: 15%;
    position: relative;
}

app-logout {
    position: absolute;
    top: 20px;
    right: 50px;
    z-index: 10;
}

.header p {
    font-size: 30px;
    text-align: center;
    padding: 40px 0;
    font-weight: bold;
}

.grid {
    height: 85%;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .grid {
        height: auto !important;
        flex: none !important;
        overflow-y: auto !important;
    }
}

