<app-loading [condition]="isLoading"></app-loading>
<main>
    <div class="header">
        <h3>SELFIE</h3>
        <div class="feature">
            <button class="btn" *ngFor="let item of dashboard"
                    [routerLink]="[item.relativeUrl]"
                    routerLinkActive="active">
                    <img src="../../../assets/icon/{{item.urlImg}}">
                    <p>{{ item.name }}</p>
            </button>
          </div>          
        <app-logout />
    </div>
    <app-grid [dashboard]="dashboard"></app-grid>
</main>