* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.grid {
  flex: 1;
  overflow-y: auto;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: rgb(50, 50, 50);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.feature {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: #212121;
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
}

.feature .btn {
  background-color: #212121;
  color: #fff;
  padding: 0.3rem 0.8rem;
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  gap: 8px;
}

.feature .btn:hover {
  background-color: #424242;
  transform: scale(1.05);
}
img {
  max-width: 4vw;
  max-height: 4vh;
  object-fit: contain;
}
h3{
  color:#fff;
  font-size: 2rem;
}

/* Responsive for smaller screens */
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .grid {
    height: auto !important;
    overflow-y: auto !important;
  }

  .feature {
    width: 100%;
    justify-content: center;
  }

  .feature .btn {
    flex: 1 1 40%;
    min-width: 120px;
  }
}
  