gridster {
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    height: 180vh !important;
    width: 100% !important;
    user-select: none;
    display: block;
}
:host {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    background-color: #f0f2f5;
    display: flex;
}

gridster-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    font-size: clamp(0.5rem, 2.5vw, 1rem);
    font-weight: 500;
    color: #333;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s;
}

gridster-item:hover {
    transform: scale(1.03);
    cursor: move;
}
.preview-header{
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    :host {
        display: block;
        height: auto !important;
        overflow-y: visible !important;
    }

    gridster {
        display: flex !important;
        flex-direction: column !important;
        flex-wrap: nowrap;
        height: auto !important;
        overflow: visible !important;
    }

    gridster-item {
        width: 100% !important;
        min-height: 120px;
        margin-bottom: 10px;
    }
}

  