gridster {
    position: relative;
    box-sizing: border-box;
    background: lightblue;
    height: 100%;
    width: 100%;
    user-select: none;
    display: block;
}
:host {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0f2f5;
}

gridster-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    font-size: clamp(0.5rem, 2.5vw, 1rem);
    font-weight: 500;
    color: #333;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s;
}

gridster-item:hover {
    transform: scale(1.03);
    cursor: move;
}
gridster-item img {
    max-width: 10vw;
    max-height: 10vh;
    object-fit: contain;
}
.time-machine{
    background-color: #121212;
    color: white;
}

@media screen and (max-width: 768px) {
    :host {
        display: block;
        height: auto !important;
        overflow-y: visible !important;
    }

    gridster {
        display: flex !important;
        flex-direction: column !important;
        flex-wrap: nowrap;
        height: auto !important;
        overflow: visible !important;
    }

    gridster-item {
        width: 100% !important;
        min-height: 120px;
        margin-bottom: 10px;
    }

    gridster-item img {
        max-width: 26vw;
        max-height: 10vh;
    }
}

  