<app-loading [condition]="isLoading"></app-loading>
<div class='calendar-container'>
  <button class="sidebar-toggle" [class.active]="sidebarOpen" (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  
  <div class="sidebar-overlay" [class.active]="sidebarOpen" (click)="toggleSidebar()"></div>
  <div class='calendar-sidebar' [class.open]="sidebarOpen">
    <div class="create-button-container">
      <button class="create-button" (click)="toggleDropdown($event)">
       <mat-icon>add_circle_outline</mat-icon>
        Crea
      </button>
      <div class="dropdown-menu" [class.show]="showDropdown">
        <a class="dropdown-item" (click)="newEvent()">Evento</a>
        <a class="dropdown-item" (click)="newActivity()">Attività</a>
      </div>
    </div>
    <div class="activities">
      <app-collapsible-list title="Attività">
        <app-collapsible-list title="Scadute ({{overdueActivities.length}})">
          <ul>
            <li *ngFor='let overdue of overdueActivities'>
                <mat-checkbox (change)="changeActivityStatus(overdue)">
                  {{overdue.title}}
                </mat-checkbox>
                <div class="list-actions">
                  <button mat-icon-button  (click)="viewActivityDetails(overdue)" aria-label="Dettagli">
                    <mat-icon>open_in_new</mat-icon>
                  </button>
                  <button mat-icon-button (click)="deleteActivity(overdue._id!, overdue.title!)" aria-label="Elimina">
                    <mat-icon>delete_outline</mat-icon>
                  </button>
                </div>
            </li>
          </ul>
        </app-collapsible-list>
        <app-collapsible-list title="Da completare ({{activities.length}})">
          <ul>
            <li *ngFor='let activity of activities'>
              <mat-checkbox (change)="changeActivityStatus(activity)">
                {{activity.title}}
              </mat-checkbox>
              <div class="list-actions">
                <button mat-icon-button  (click)="viewActivityDetails(activity)" aria-label="Dettagli">
                  <mat-icon>open_in_new</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteActivity(activity._id!, activity.title!)" aria-label="Elimina">
                  <mat-icon>delete_outline</mat-icon>
                </button>
              </div>
            </li>
          </ul>
        </app-collapsible-list>
        <app-collapsible-list title="Completate ({{completedActivities.length}})">
          <ul>
            <li *ngFor='let completed of completedActivities'>
              <mat-checkbox checked (change)="changeActivityStatus(completed)">
                {{completed.title}}
              </mat-checkbox>
              <div class="list-actions">
                <button mat-icon-button  (click)="viewActivityDetails(completed)" aria-label="Dettagli">
                  <mat-icon>open_in_new</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteActivity(completed._id!, completed.title!)" aria-label="Elimina">
                  <mat-icon>delete_outline</mat-icon>
                </button>
              </div>
            </li>
          </ul>
        </app-collapsible-list>
      </app-collapsible-list>
    </div>
    <div class="imported-calendars">
      <app-collapsible-list title="Calendari importati">
        <ul>
          <li *ngFor='let imported of importedCalendars'>
            <p> {{ imported.title || imported.calendarId }}</p>
            <div class="list-actions">
              <button mat-icon-button (click)="deleteImportedCalendar(imported)" aria-label="Elimina">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </div>
          </li>
        </ul>
        <ul>
          <li *ngFor='let uploaded of uploadedCalendars'>
            <p> {{ uploaded.title || 'Senza titolo' }}</p>
            <div class="list-actions">
              <button mat-icon-button (click)="deleteUploadedCalendar(uploaded)" aria-label="Elimina">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </div>
          </li>
        </ul>

      </app-collapsible-list>
    </div>
    <div class="sidebar-footer">
      <button mat-icon-button (click)="importCalendar()" aria-label="Importa calendario">
        <mat-icon>import_export</mat-icon>
        Importa calendario
      </button>
      <button mat-icon-button (click)="exportCalendar()" aria-label="Esporta calendario">
        <mat-icon>get_app</mat-icon>
        Esporta calendario
      </button>
    </div>
  </div>

  <div class='calendar-content'>
    <full-calendar #fullcalendar *ngIf='calendarVisible()' [options]='calendarOptions()'>
      <ng-template #eventContent let-arg>
        <b>{{ arg.timeText }}</b>
        <i>{{ arg.event.title }}</i>
      </ng-template>
    </full-calendar>
  </div>
</div>


  