<app-loading [condition]="isLoading"></app-loading>
<div class='demo-app'>
    <div class='demo-app-sidebar'>
      <div class="dropdown">
        <button class="dropbtn">
            <span class="plus-icon">+</span>
              Crea
        </button>
        <div class="dropdown-content">
            <button (click)="newEvent()">Evento</button>
            <button (click)="newActivity()">Attività</button>
        </div>
      </div>
      <div class='demo-app-sidebar-section'>
        <app-collapsible-list title="Attività completate ({{overdueActivities.length}})">
          <ul>
            <li *ngFor='let overdue of overdueActivities'>
                <mat-checkbox (change)="changeActivityStatus(overdue)">
                  {{overdue.title}}
                </mat-checkbox>
                <div class="activity-actions">
                  <button mat-icon-button  (click)="viewActivityDetails(overdue)" aria-label="Dettagli">
                    <mat-icon>open_in_new</mat-icon>
                  </button>
                  <button mat-icon-button (click)="deleteActivity(overdue._id!, overdue.title!)" aria-label="Elimina">
                    <mat-icon>delete_outline</mat-icon>
                  </button>
                </div>
            </li>
          </ul>
        </app-collapsible-list>
        
      </div>
      <div class='demo-app-sidebar-section'>
        <app-collapsible-list title="Attività da completare ({{activities.length}})">
          <ul>
            <li *ngFor='let activity of activities'>
              <mat-checkbox (change)="changeActivityStatus(activity)">
                {{activity.title}}
              </mat-checkbox>
              <div class="activity-actions">
                <button mat-icon-button  (click)="viewActivityDetails(activity)" aria-label="Dettagli">
                  <mat-icon>open_in_new</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteActivity(activity._id!, activity.title!)" aria-label="Elimina">
                  <mat-icon>delete_outline</mat-icon>
                </button>
              </div>
            </li>
          </ul>
        </app-collapsible-list>
      </div>
      <div class='demo-app-sidebar-section'>
        <app-collapsible-list title="Attività completate ({{completedActivities.length}})">
          <ul>
            <li *ngFor='let completed of completedActivities'>
              <mat-checkbox checked (change)="changeActivityStatus(completed)">
                {{completed.title}}
              </mat-checkbox>
              <div class="activity-actions">
                <button mat-icon-button  (click)="viewActivityDetails(completed)" aria-label="Dettagli">
                  <mat-icon>open_in_new</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteActivity(completed._id!, completed.title!)" aria-label="Elimina">
                  <mat-icon>delete_outline</mat-icon>
                </button>
              </div>
            </li>
          </ul>
        </app-collapsible-list>
      </div>
    </div>
  
    <div class='demo-app-main'>
      <full-calendar #fullcalendar *ngIf='calendarVisible()' [options]='calendarOptions()'>
        <ng-template #eventContent let-arg>
          <b>{{ arg.timeText }}</b>
          <i>{{ arg.event.title }}</i>
        </ng-template>
      </full-calendar>
    </div>
  </div>


  