<app-loading [condition]="isLoading"></app-loading>
<div class='demo-app'>
    <div class='demo-app-sidebar'>
      <div class="dropdown">
        <button class="dropbtn">
            <span class="plus-icon">+</span>
              Crea
        </button>
        <div class="dropdown-content">
            <button (click)="newEvent()">Evento</button>
            <button (click)="newActivity()">Attività</button>
        </div>
      </div>
      <div class='demo-app-sidebar-section'>
        <app-collapsible-list title="Attività completate ({{overdueActivities.length}})">
          <ul>
            <li *ngFor='let overdue of overdueActivities'>
              <div class="activity-header">
                <mat-checkbox (change)="changeActivityStatus(overdue)">
                  {{overdue.title}}
                </mat-checkbox>
              </div>
              <div class="activity-description" *ngIf="overdue.description">
                {{overdue.description}}
              </div>
              
            </li>
          </ul>
        </app-collapsible-list>
        
      </div>
      <div class='demo-app-sidebar-section'>
        <app-collapsible-list title="Attività da completare ({{activities.length}})">
          <ul>
            <li *ngFor='let activity of activities'>
              <div class="activity-header">
                <mat-checkbox (change)="changeActivityStatus(activity)">
                  {{activity.title}}
                </mat-checkbox>
              </div>
              <div class="activity-description" *ngIf="activity.description">
                {{activity.description}}
              </div>
            </li>
          </ul>
        </app-collapsible-list>
      </div>
      <div class='demo-app-sidebar-section'>
        <app-collapsible-list title="Attività completate ({{completedActivities.length}})">
          <ul>
            <li *ngFor='let completed of completedActivities'>
              <div class="activity-header">
                <mat-checkbox checked (change)="changeActivityStatus(completed)">
                  {{completed.title}}
                </mat-checkbox>
                <button mat-icon-button class="close-button" (click)="deleteActivity(completed)" aria-label="Elimina">
                  <mat-icon>delete_outline</mat-icon>
                </button>
              </div>
              <div class="activity-description" *ngIf="completed.description">
                {{completed.description}}
              </div>
            </li>
          </ul>
        </app-collapsible-list>
      </div>
    </div>
  
    <div class='demo-app-main'>
      <full-calendar #fullcalendar *ngIf='calendarVisible()' [options]='calendarOptions()'>
        <ng-template #eventContent let-arg>
          <b>{{ arg.timeText }}</b>
          <i>{{ arg.event.title }}</i>
        </ng-template>
      </full-calendar>
    </div>
  </div>


  