<div class="preview-container">
    <div class="preview-header">
        <div class="view-toggle">
            <div [class.selected]="viewEvents">
                <button (click)="toggle(true); $event.stopPropagation()">
                    <mat-icon>calendar_today</mat-icon>
                </button>
            </div>
            <div [class.selected]="!viewEvents">
                <button (click)="toggle(false); $event.stopPropagation()">
                    <mat-icon>check_circle_outline</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="preview-content">
        <div class='events' *ngIf="viewEvents">
            <h2> Eventi di oggi: </h2>
            <div class="event" *ngFor="let event of todayEvents() | slice:0:4;">
                <p class="event-title"> {{ event.title }} </p>
                <p> 
                    {{ formatEventScheduling(event)}}
                </p>
            </div>
    
            <div class="view-all-link" *ngIf="todayEvents().length >= 4">
                <a [routerLink]="['/home/calendar']" (click)="$event.stopPropagation()">Vedi tutti gli eventi</a>
            </div>
            <p *ngIf="!todayEvents().length"> Non ci sono eventi oggi !</p>
        </div>
        <div class="activities" *ngIf="!viewEvents">
            <h2> Attività da completare: </h2>
            <div class="activity" *ngFor="let activity of todayActivities() | slice:0:4;">
                <p class="activity-title"> {{ activity.title }} </p>
                <p> 
                    <span *ngIf="isOverdue(activity.dueDate!)">
                        Scaduta
                    </span>
                        <span *ngIf="!isOverdue(activity.dueDate!)">
                        Scade
                    </span>
                        il {{ convertDate(activity.dueDate!) }}
                </p>
            </div>
            
            <div class="view-all-link" *ngIf="todayActivities().length >= 4">
                <a [routerLink]="['/home/calendar']" (click)="$event.stopPropagation()">Vedi tutte le attività</a>
            </div>
            <p *ngIf="!todayActivities().length"> Non ci sono attività oggi !</p>
        </div>
    </div>
</div>
