
<div>
    <h4>Register</h4>
    <div>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div>
                <input type="text" name="username" formControlName="username" placeholder="Username" required>
            </div>
            <div>
                <input class="form-control" type="email" name="email" formControlName="email" placeholder="Email" required>
            </div>
            <div>
                <input type="password" name="password" formControlName="password" placeholder="Password" required>
            </div>
            <div>
                <input type="password" name="confirmPassword" formControlName="confirmPassword" placeholder="Conferma password" required>
            </div>
            <div>
                <input type="date" name="birthday" formControlName="birthday" placeholder="Birthday">
            </div>
            <div>
                <a href="login"> Hai già un account? Accedi </a>
            </div>
            <button type="submit" [disabled]="!registerForm.valid">
                Register
            </button>
        </form>
    </div>
</div>