<div>
    <h4>Login</h4>
    <div>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
          <input type="email" name="email" formControlName="email" placeholder="Email">
        </div>
        <div>
          <input class="form-control" type="password" name="password" formControlName="password" placeholder="Password">
        </div>
        <div>
          <a [routerLink]="['/register']"> Non sei ancora registrato? Registrati</a>
        </div>
        <button type="submit" [disabled]="!loginForm.valid">
            Login
        </button>
      </form>
    </div>
</div>