<div class="note-editor-container">

  <h2>{{ isViewMode ? 'Visualizza Nota' : (note._id ? 'Modifica Nota' : 'Nuova Nota') }}</h2>

  <input [(ngModel)]="note.title" placeholder="Titolo" class="input" [disabled]="isViewMode" />

  <select [(ngModel)]="selectedCategory" class="input" [disabled]="isViewMode">
    <option value="" disabled>Scegli una categoria</option>
    <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
  </select>

  <div class="editor-container">
    <angular-editor [(ngModel)]="note.content" [config]="editorConfig" [disabled]="isViewMode"></angular-editor>
  </div>

  <!-- Messaggio mostrato all'utente solo se manca il titolo e la categoria -->
  <div class="form-warning" *ngIf="!note.title || !selectedCategory && !isViewMode">
    Inserisci un <strong>titolo</strong> e seleziona una <strong>categoria</strong> prima di salvare.
  </div>

  <button *ngIf="!isViewMode" (click)="save()" [disabled]="!note.title || !selectedCategory" [ngClass]="{ disabled: !note.title || !selectedCategory }">Salva</button>
  <button [routerLink]="backLink" class="secondary">Torna</button>

</div>