<div class="note-editor-container">

  <h2>{{ note.id ? 'Modifica Nota' : 'Nuova Nota' }}</h2>

  <input [(ngModel)]="note.title" placeholder="Titolo" class="input" />

  <select [(ngModel)]="selectedCategory" class="input">
    <option value="" disabled selected>Scegli una categoria</option>
    <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
  </select>

  <div class="editor-container">
    <angular-editor [(ngModel)]="note.content" [config]="editorConfig"></angular-editor>
  </div>

  <button (click)="save()">Salva</button>
  <button routerLink="../note" class="secondary">Torna</button>

</div>