<div>
    <div id="dialog-header">
        <div>
            <button mat-icon-button  (click)="onDelete()" aria-label="Elimina">
                <mat-icon>delete_outline</mat-icon>
            </button>
            <button mat-icon-button  (click)="onEdit()" aria-label="Modifica">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
        
        <button mat-icon-button  (click)="onCancel()" aria-label="Chiudi">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <mat-dialog-content>
        <div id="title">
            <h1> {{data.title}} </h1>
        </div>
        <div class="info-container">
            <span class="icon">
                <mat-icon>event</mat-icon>
            </span>
            <span id="date">
                <span>
                    {{startDate}} -
                </span>
                <span *ngIf="!data.allDay">
                     {{endDate}}
                </span>
                <span *ngIf="data.allDay">
                    Tutto il giorno
                </span>
            </span>
        </div>
        <div class='info-container' *ngIf="data.extendedProps.place">
            <span class="icon">
                <mat-icon>location_on</mat-icon>
            </span>
            <span>
                {{data.extendedProps.place}} 
            </span>
        </div>
    </mat-dialog-content>
</div>
