<div class="timer-shadow-container"
     [ngClass]="timerMode === 'Focus' ? 'focus-mode' : 'rest-mode'"
     [ngStyle]="{
        height: sizeCircle + 'px',
        width: sizeCircle + 'px',
        'border-radius': sizeCircle + 'px'
     }">

  <svg
    class="circle"
    [attr.height]="sizeCircle"
    [attr.width]="sizeCircle"
    [attr.viewBox]="'0 0 ' + sizeCircle + ' ' + sizeCircle"
  >
    <circle
      [ngClass]="{resetting: !isCounting}"
      [attr.r]="(sizeCircle / 2) - 2"
      [attr.cx]="sizeCircle / 2"
      [attr.cy]="sizeCircle / 2"
      [ngStyle]="{
        'stroke-dasharray': circleBaseLength + circleFillLength,
        'stroke-dashoffset': circleBaseLength,
        'transform-origin': (sizeCircle / 2) + 'px'
      }"
    />
  </svg>

  <div class="timer-inner-container"
       [ngStyle]="{
          height: sizeCircle - (sizeCircle * 0.1) + 'px',
          width: sizeCircle - (sizeCircle * 0.1) + 'px',
          'border-radius': sizeCircle + 'px'
     }"
  >
    <div class="timer-mode">{{ timerMode | titlecase }}</div>
    <div class="timer-numbers">
      <div class="timer-minutes">{{ currentValueMinutes | number:'2.0' }}</div>
      <div class="timer-separator">:</div>
      <div class="timer-seconds">{{ currentValueSeconds | number:'2.0' }}</div>
    </div>

    <div class="timer-actions">
      <button 
        *ngIf="!isCounting; else pauseButton" class="btn btn--primary" (click)="startTimer()" [disabled]="isPreviewMode">
        <mat-icon>
          {{ currentValueMinutes === intervalDuration && currentValueSeconds === 0 ? 'play_arrow' : 'play_circle' }}
        </mat-icon>
      </button>

      <button *ngIf="isCounting" class="btn btn--danger" (click)="resetTimer()" [disabled]="isPreviewMode">
        <mat-icon>restart_alt</mat-icon>
      </button>

      <button *ngIf="isCounting" class="btn btn--danger" (click)="next()" [disabled]="isPreviewMode">
        <mat-icon>skip_next</mat-icon>
      </button>

      <ng-template #pauseButton>
        <button class="btn btn--secondary" (click)="pauseTimer()" [disabled]="isPreviewMode">
          <mat-icon>pause</mat-icon>
        </button>
      </ng-template>
    </div>
  </div>
</div>
