<div class="page-timer" [ngClass]="{
  'focus-mode': currentTimerMode === 'Focus',
  'rest-mode': currentTimerMode === 'Riposo'
}">
  <main>
    <div class="contenuto">
      <app-timer
        [intervalDuration]="currentIntervalDuration"
        [timerMode]="currentTimerMode"
        [isForcedEndSession]="isForcedEndSession"
        (sessionFinish)="onCicleFinish()"
        (countingStatusChanged)="isSessionActive = $event"
      ></app-timer>

      <div class="cicles">
        <div>CICLI</div>

        <div class="cicle-list">
          <div
            id="cicle"
            *ngFor="let cicle of cicles"
            [ngClass]="{ success: cicle }"
          ></div>
        </div>

        <div>
          <button class="btn btn--secondary" 
          (click)="forcedEndSession()"
          [disabled]="!isSessionActive">
            <mat-icon>stop_circle</mat-icon>
          </button>
        </div>
      </div>

      <button
        class="btn btn--secondary"
        (click)="openSettings()"
        [disabled]="isSessionActive"
      >
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </main>

  <!-- SPOSTATO QUI, FUORI DA <main> -->
  <div class="session-complete-animation" *ngIf="showAnimation">
    <p>🎉 Sessione completata! Ottimo lavoro! 🎉</p>
  </div>    
</div>
