<div class="page-timer" [ngClass]="{
  'focus-mode': currentTimerMode === 'Focus',
  'rest-mode': currentTimerMode === 'Riposo'
}">
  <main>
    <h1>POMODORO TIMER</h1>

    <app-timer
      [intervalDuration]="currentIntervalDuration"
      [timerMode]="currentTimerMode"
      (sessionFinish)="onCicleFinish()"
    ></app-timer>

    <div class="cicles">
      <div>SESSIONE</div>
    
      <div class="cicle-list">
        <div
          id="cicle"
          *ngFor="let cicle of cicles"
          [ngClass]="{ success: cicle }"
        ></div>
      </div>
    
      <div>
        <button class="btn btn--secondary" (click)="forcedEndSession()">Termina</button>
      </div>
    </div>
    

    <div class="actions">
      <button class="btn btn--secondary" (click)="openSettings()">Impostazioni</button>
    </div>
  </main>
</div>
