<div class="eventDialog">
    <div id="dialog-header">
      <button mat-icon-button class="close-button" (click)="onCancel()" aria-label="Chiudi">
        <mat-icon>close</mat-icon>
      </button>
    </div>
      <mat-dialog-content>
        <mat-form-field class="custom-form-field">
          <mat-label>Titolo</mat-label>
          <input matInput [(ngModel)]="data.title"  required>
        </mat-form-field>
        <mat-form-field class="custom-form-field">
            <mat-label>Data e ora di fine</mat-label>
            <input matInput type="datetime-local" [(ngModel)]="data.endDate"  required>
        </mat-form-field>
        <mat-form-field class="custom-form-field">
          <mat-label>Descrizione</mat-label>
          <textarea matInput [(ngModel)]="data.description"></textarea>
        </mat-form-field>
      </mat-dialog-content>
  
      <mat-dialog-actions >
        <button mat-button id='save-button' (click)="onSave()">Salva</button>
      </mat-dialog-actions>
    </div>