<h2>Impostazioni</h2>
<div class="settings-form">
  <form [formGroup]="settingsForm">
    <div class="form-field">
      <label for="work">Focus (minuti)</label>
      <input type="number" id="work" class="control" placeholder="Work" formControlName="work">
    </div>
    <div class="form-field">
      <label for="break">Riposo (minuti)</label>
      <input type="number" id="break" class="control" placeholder="Break" formControlName="break">
    </div>
  </form>
</div>
<div class="dialog-actions">
  <button class="btn btn--secondary" (click)="close()">Cancella</button>
  <button class="btn btn--primary" [disabled]="settingsForm.invalid" (click)="close(true)">Salva</button>
</div>
